<div class="site-wrapper" id="the-estate">
  {{> nav-pages}}

  <div id="content-wrapper">
    <section class="container content the-estate">
      <h2>The Property</h2>
      <p>Aliqua est fugiat non esse consequat veniam culpa Lorem deserunt ea in. Eu culpa dolor sit Lorem dolor ex
        nulla Lorem. Cupidatat eiusmod consequat minim irure elit tempor velit elit non elit ipsum est labore.
        Commodo elit excepteur ad aliqua non proident. Ad laboris ea ad in consequat dolor do ex aliqua do enim
        do.</p>
    </section>
  </div>

  {{> modals}}
</div>