<div class="site-wrapper">
  {{> nav-pages}}

  <div id="content-wrapper" class="page">
    <section class="container content the-residents">
    <h2>The Residents</h2>
    <p>3 Alpacas, 2 Jack Russels, 2 little girls, mama and papa dukes.</p>
  <p><img src="/images/kalpaca-estates-003.jpg" alt="Photo of alpacas looking at a man near a truck" /></p>
    </section>
  </div>

  {{> modals}}
</div>