$orange: #d46800;
$green: #74a534;
$greenhover: #68b503;
$greenborder: #94ca52;

$black: #000000;
$darkgray: #222222;
$gray: #444444;
$lightgray: #bbbbbb;
$lightergray: #eeeeee;
$white: #ffffff;

$headerfont: "Karma", "Times New Roman", "Georgia", serif;
$bodyfont:  "Nunito Sans","Open Sans", Helvetica, Arial, sans-serif;

$radius: 11px;

@import 'parts/normalize';
@import 'parts/sortable';
@import 'parts/mixins';
@import 'parts/layout';
@import 'parts/nav';
@import 'parts/type';
@import 'parts/content';


*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;
}

body {
  font-size: 14px;
  font-family: $bodyfont;
}

section {
  z-index: 1;
}

.hide {
  display: none;
}