<div class="site-wrapper">
    {{!-- <section>
        {{#if currentUser}}
        <h2>Welcome {{currentUser.name}}</h2>
        <p><a href="/profile/">user profile page</a> for only logged in users?</p>
        {{else}}
        <h2>Welcome Stranger</h2>
        <p>Please <a href="/login">login</a> or <a href="/signup">signup</a> to continue.</p>
        {{/if}}
    </section> --}}
    <div id="content-wrapper">
        <section class="modal ulogin">
            <div class="user-login">
                <div class="modal-header">
                    <div class="logo-mark"><img src="/images/kalpaca-estates-logo-mark-white.png"
                            alt="kalpaca logo mark of an alpaca" /></div>
                    <h2>Login</h2>
                </div>

                <form method="POST" action="/login">

                    <label for="username">Username</label>
                    <input name="username" type="text" required />

                    <label for="password">Password</label>
                    <input name="password" type="password" required />

                    <button class="button btn-green submit">Submit</button>
                    {{> site-error}}
                    {{> form-error}}

                    <div class="login-option">
                        <a href="/auth/google">Login With Google</a>
                    </div>

                    <div class="account-message">
                        Don't have an account? <a href="/signup">Sign up</a><br />
                       <a href="/"><- Back to site</a>
                    </div>

                </form>
            </div>
        </section>

        <div class="page-background" style="background-image:url('/images/kalpaca-estates-001.JPEG');"></div>

    </div>
</div>