<div class="user-new">
    <h2>User Signup</h2>

    {{> site-error}}
    <form method="POST" action="/signup">

        <label for="username">Username:</label>
        <input name="username" type="text" required />

        <label for="password">Password:</label>
        <input name="password" type="password" required />

        <label for ="passwordConfirm">Confirm Password</label>
        <input name="passwordConfirm" type="password" required />

        <br /><br />
        <button class="submit" onsubmit="return false">Submit</button>
        {{> form-error}}
    </form>
</div>