#header {
  width: 100vw;
  // height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 80vw;
  margin: 0 auto;
}

.navigation {
  width: 100%;
}

.website-nav {
  display: flex;
  justify-content: space-evenly;
}